<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="societe">
            <h2><span>Societe</span> {{societe.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Idsociete</span></dt>
                <dd>
                    <span>{{societe.idsociete}}</span>
                </dd>
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{societe.libelle}}</span>
                </dd>
                <dt><span>Adresse</span></dt>
                <dd>
                    <span>{{societe.adresse}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/societe', societe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
